/*
  Adapted from:
  https://w3layouts.com/preview/?l=/sunlight-weather-responsive-widget-template/
*/

/* general elements */

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}

sup {
  top: -0.25em;
}
.degree {
  opacity: 0.8;
}


html {
  background: url(../images/background.jpg) no-repeat 0 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 100%;
}
body {
  background: transparent;
}


/* search header */

header {
  margin-top: 35px;
}

header img {
  min-width: 38px;
  max-height: 45px;
}
header .form-control {
  /* bootstrap mini-fix */
  height: 45px;
}


/* error alert */

.alert {
  margin-top: 1em;
  text-transform: capitalize;
}


/* main container */

main {
  background: #fff;
  margin-top: 70px;
  position: relative;
  padding: 0 15px;
}
main span.owf {
  color: rgb(253, 182, 102);
  font-size: 200px;
  position: absolute;
  top: -60px;
  left: 0;
}

main h1 {
  margin: 0;
  color: #777;
  font-size: 1.5em;
  padding-top: 10px;
  text-align: center;
  padding-left: 140px;
}
main h2 {
  font-size: 6em;
  font-weight: bold;
  color: #fdde00;
  margin: 0;
  text-align: center;
  padding-left: 140px;
}
main h2 small {
  color: rgb(253, 182, 102);
  font-size: .5em;
}


/* detail content */

article {
  color: #555;
  padding: 0.2em 2em 2em;
}
article small {
  padding-left: 3px;
}
article span {
  text-transform: capitalize;
}


/* forecast section */

section {
  color: #fff;
  padding: 1.5em;
  background: #3891DD;
}
section > div {
  text-align: center;
}
section i {
  color: #fff;
  font-size: 4em;
}
section span {
  display: block;
  font-weight: bold;
}


/* footer note */

footer {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  padding: 1em 0 0;
  text-align: center;
  text-shadow: 0px 2px #272727;
}
footer a {
  padding: .3em 0 0;
}


/* responsive details */

@media (max-width:480px) {
  main span.owf {
    font-size: 150px;
  }
}
