<div class="container">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

    <header class="row">
      <div class="col-xs-2 text-right">
        <img src="assets/images/logo.png" />
      </div>
      <div class="col-xs-10">
        <input class="form-control" type="text" [(ngModel)]="address" (setAddress)="getAddress($event)" googleplace placeholder="Select a City"/>
      </div>
    </header>

    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>

    <main *ngIf="weather">
      <span class="owf {{ 'owf-' + weather.id }}"></span>

      <h1>{{ city.name }}</h1>
      <h2>{{ weather.temp }}<sup class="degree">°</sup><small>C</small></h2>

      <article class="row">
        <div class="col-xs-7 col-md-6">
          <h3>{{ weather.title }}</h3>
          <p>
            <span>{{ weather.description }}</span>
            <br />
            {{ weather.temp_max }}<sup class="degree">°</sup> / {{ weather.temp_min }}<sup class="degree">°</sup>
          </p>
        </div>
        <div class="col-xs-5 col-md-6 text-right">
          <h3>Wind at {{ weather.wind_speed }}<small>m/s</small></h3>
          <p>
            <span>Humidity {{ weather.humidity }}%</span><br />Cloudiness {{ weather.cloudiness }}%
          </p>
        </div>
      </article>

      <section class="row" *ngIf="forecast">
        <div *ngFor="let day of forecast" class="col-xs-3">
          <i class="owf owf-4x {{ day.id ? 'owf-' + day.id : '' }}"></i>
          <p>
            <span>{{ day.dt * 1000 | date:'fullDate' | firstWord }}</span>
            {{ day.temp_max }} / {{ day.temp_min }}<sup class="degree">°</sup>
          </p>
        </div>
      </section>
    </main>

    <footer>
      Copyright © 2017 <a href="http://github.com/matheo">Matheo</a>.
      Design adapted from <a href="http://w3layouts.com">W3layouts</a>
    </footer>
  </div>
</div>
